.mapboxgl-popup {
  z-index: 2;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.btn-discord {
  background-color: #7289DA;
}
.btn-twitter {
  background-color: #1DA1F2;
}
.gutter-16.row {
  margin-right: -8px;
  margin-left: -8px;
}
.gutter-16 > [class^="col-"], .gutter-16 > [class^=" col-"] {
  padding-right: 8px;
  padding-left: 8px;
}
.about-button {
  margin-bottom: 16px !important;
}
.about-button span {
  margin-top: 4px;
  display: inline-block;
}
.btn-img {
  display: inline-block !important;
  color: #fff !important;
  font-family: sans-serif;
  font-size: 26px !important;
  font-weight: 100 !important;
}
.btn-img img {
  height: 45px;
  width: 45px !important;
  float: left;
}
#languageSelector {
  height: 30px;
}
#aboutMessage {
  line-height: 30px;
}
#aboutMessage span {
  font-size: 10px;
}
#pinInfoWindowContainer {
  max-width: 250px;
  min-width: 150px;
}
#pinInfoWindowContainer span, #pinInfoWindowContainer p {
  display: block;
}
#pinInfoWindowContainer span {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}
#logoImg {
  max-width: 275px;
  padding-top: 20px;
  margin: 0 auto 0 auto;
  display: block;
  z-index: 1;
  position: relative;
  pointer-events: none;
}
#loadingImage {
    position: absolute;
    z-index: 10000;
    background-color: #fff;
    padding: 5px;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin:-75px 0 0 -75px;
    border-radius: 50%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#map {
  height: 100%;
  position:  absolute;
  top: 0px;
  width:  100%;
}
#newPinMessage, #newJourneyPinMessage {
  display: none;
}
#newPinMessageContainer {
  max-width: 260px;
}
#modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 10;
}
#modal_content {
  max-width: 700px;
  padding: 20px;
  background-color: white;
  margin: 50px auto 50px auto;
}
#modal_content h1 {
  margin-top: 0px;
  text-align: center;
}
#yui_high_five {
  margin: 0 auto 0 auto;
  width: 300px;
  display: block;
}
.pin-input {
  width: 50px;
  display: inline-block;
}
.pin-input img {
  width: 50px;
  cursor: pointer;
  padding: 10px 0;
}
.pin-input img, input {
  margin: 0 auto 0 auto !important;
  display: block;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow:  visible;
}
#bottomControl {
  min-width: 150px;
  max-width: 250px;
  margin: 0 auto 0 auto;
  margin-top: -100px;
}
#controlKitsunesButton, #controlAddJourneyPinButton {
  width: 100%;
}
#controlMoreButton {
  float: right;
}
.controlButton {
  display: inline-block;
  width: 48%;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  text-align: center;
  color: rgb(25,25,25);
  font-family: Roboto,Arial,sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 8px;
}
#infoWindowImage {
  cursor: pointer;
}
#sideMenu {
  position: fixed;
  height: 100%;
  width: 300px;
  display: inline-block;
  top: 0;
  left: -280px;
  overflow: hidden;
  z-index:  20;
}
#sideMenuContainer {
  width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}
#sideMenu #menuList {
  width: 280px;
}
#sideMenu.showMenu {
  left: 0;
}
#sideMenu .list-group-item.active:hover {
  background-color: #28669c;
}
#sideMenu #toggleButton {
  display: inline-block;
  position: fixed;
  top: 30px;
  left: -5px;
  width: 15px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.68);
  cursor: pointer;
  border-radius: 5px;
}
#sideMenu.showMenu #toggleButton {
  left: 275px;
}
.socialShareIcon {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  margin-top: -3px;
}
.socialShareURL {
  display: inline-block;
  margin-right: 7px;
  height: 20px;
  margin-top:  3px;
  margin-bottom:  7px;
}
#switchMapsMessage {
  text-align: center;
}
