{% extends 'templates/pin/pin_form.html' %}
{% block title %}{{ _("Edit Your Pin") }}{% endblock %}
{% block extra_form_inputs %}
<input type="hidden" id="editAccessUUIDinput" value="{{ edit_pin_uuid }}" />
<script>
function ready(fn) {
  if (document.readyState != 'loading'){
    fn();
  } else {
    document.addEventListener('DOMContentLoaded', fn);
  }
}
ready(function() {
  setupPinInputRadios();
});
</script>
{% endblock %}
{% block extra_form_buttons %}
<button type="button" class="btn btn-danger" onclick="submitDeletePin(); return false;">{{ _("Delete Pin") }}</button>
{% endblock %}
{% block submit_button_title %}{{ _("Save") }}{% endblock %}
{% block submit_button_function %}submitEditPinForm{% endblock %}
