<h1>{% block title %}{% endblock %}</h1>
<form>
  <div class="form-group">
    <label class="control-label" for="inputName">{{ _("Name") }}</label>
    <input class="form-control" id="inputName" value="{{ pin.name if pin is defined else "" }}">
  </div>
  <div class="form-group">
    <label class="control-label" for="inputPinIcon">{{ _("Icon") }}</label>
    <br />
    {% for pin_icon in pin_icons %}
      <div class="pin-input">
        {% set pin_checked_text = "checked" if pin is defined and pin_icon == pin.pin_icon else "" %}
        <input type="radio" name="inputPinIcon" value="{{ pin_icon }}" {{ pin_checked_text }} />
        <img src="/images/icons/{{ pin_icon }}.png" />
      </div>
    {% endfor %}
  </div>
  <div class="form-group">
    <label class="control-label" for="inputFavMember">{{ _("Favorite Member") }}</label>
    <select class="form-control" id="inputFavMember">
      <option value="" selected disabled>{{ _("Select One") }}</option>
      <option value="0" selected >{{ _("They are all my favorite") }}</option>
      {% for member_id in members_display_sort %}
        {% set member_selected_text = "selected" if pin is defined and member_id == pin.favorite_member else "" %}
        <option value="{{ member_id }}" {{ member_selected_text }} >{{ members_dict[member_id|string] }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputFavSong">{{ _("Favorite Song") }}</label>
    <select class="form-control" id="inputFavSong">
      <option value="" selected disabled>{{ _("Select One") }}</option>
      <option value="0" selected >{{ _("They are all my favorite") }}</option>
      {% for song_id in songs_display_sort %}
        {% set song_selected_text = "selected" if pin is defined and song_id == pin.favorite_song else "" %}
        <option value="{{ song_id }}" {{ song_selected_text }} >{{ songs_dict[song_id|string] }}</option>
       {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputCommunities">{{ _("Community") }}</label>
    <select multiple="" class="form-control" id="inputCommunities" aria-describedby="communityHelp">
      <option value="" disabled>{{ _("Select At Least One") }}</option>
      <option value="0" {{ "" if pin is defined and not 0 in pin_communities else "selected" }} >{{ _("None") }}</option>
      {% for community_id in communities_display_sort %}
        {% set community_selected_text = "selected" if pin is defined and community_id in pin_communities else "" %}
        <option value="{{ community_id }}" {{ community_selected_text }} >{{ communities_dict[community_id|string] }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputAboutYou">{{ _("About You") }}</label>
    <textarea class="form-control" id="inputAboutYou" rows="3" aria-describedby="aboutYouHelp" placeholder="{{ _("Please do not put any personal identifying information here") }}">{{ pin.about_you if pin is defined else "" }}</textarea>
  </div>
  {% block extra_form_inputs %}{% endblock %}
  <div id="formError" class="form-group bg-warning"></div>
  {% block extra_form_buttons %}{% endblock %}
  <button type="button" class="btn btn-primary" onclick="{% block submit_button_function %}{% endblock %}(); return false;">
    {% block submit_button_title %}{% endblock %}
  </button>
  <button type="button" class="btn btn-default" onclick="closeModal(); return false;">{{ _("Close") }}</button>
</form>
