<h1>New Journey Location!</h1>
<form>
  <div class="form-group">
    <label class="control-label" for="inputPassword">{{ _("Password") }}</label>
    <input class="form-control" id="inputPassword" value="">
  </div>
  <div class="form-group">
    <label class="control-label" for="inputName">{{ _("Title") }}</label>
    <input class="form-control" id="inputName" value="{{ journey_pin.name if journey_pin is defined else "" }}">
  </div>
  <div class="form-group">
    <label class="control-label" for="inputRedditURL">{{ _("Reddit URL") }}</label>
    <input class="form-control" id="inputRedditURL" value="{{ reddit_url if reddit_url is defined else "" }}">
    <small id="redditURLHelp" class="form-text text-muted">Optional - https://www.reddit.com/r/BABYMETAL/comments/6dl1h9/some_title/</small>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputYT">{{ _("YouTube URL") }}</label>
    <input class="form-control" id="inputYT" value="{{ youtube_id if youtube_id is defined else "" }}">
    <small id="ytHelp" class="form-text text-muted">Optional - https://www.youtube.com/watch?v=P3kSMA0sQQw</small>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputImage">{{ _("Image") }}</label>
    <input class="form-control" id="inputImage" type="file" value="">
  </div>
  <div id="formError" class="form-group bg-warning"></div>
  <button type="button" class="btn btn-primary" onclick="submitJourneyPinForm(); return false;">
    {{ _("Update the Journey Location") }}
  </button>
  <input type="hidden" id="inputEditJourneyPinID" value="" />
  <button type="button" class="btn btn-default" onclick="closeModal(); return false;">{{ _("Close") }}</button>
</form>
