{% import 'templates/macros.html' as macros %}
<h1>{{ _("New Journey Location Added!") }}</h1>
<div style="text-align:center">
  <p /><br />
  {{ _("It may take a few minutes to appear.") }}
  <p /><br />
  {{ macros.discordbutton() }}
</div>
<button type="button" class="btn btn-success btn-block" onclick="closeModal(); return false;">{{ _("Close") }}</button>
