<div id="pinInfoWindowContainer">
  <h4>{{ pin.name }}</h4>
  {% if pin.reddit_url %}
    <a class="socialShareURL" href="{{ pin.reddit_url }}">
      <img src="/images/icons/reddit.png" class="socialShareIcon">Reddit Thread
    </a>
  {% endif %}
  {% if pin.youtube_id %}
    <a class="socialShareURL" href="https://www.youtube.com/watch?v={{ pin.youtube_id }}">
      <img src="/images/icons/youtube.png" class="socialShareIcon">YouTube Video
    </a>
  {% endif %}
  <a target="_blank" href="/journey/image/{{ pin_id }}">
    <img width="100%" style="display: block;" src="/journey/image/{{ pin_id }}" />
  </a>
</div>
