{% macro discordbutton() -%}
  <div class="row gutter-16">
    <div class="col-sm-6">
      <a class="btn btn-discord btn-img btn-block about-button" target="_blank" href="https://discord.gg/QywBrcf">
        <img src="https://discordapp.com/assets/28174a34e77bb5e5310ced9f95cb480b.png" />
        <span>Join On Discord</span>
      </a>
    </div>
    <div class="col-sm-6">
      <a class="btn btn-twitter btn-img btn-block about-button" target="_blank" href="https://twitter.com/Kitsune_Network">
        <img src="/images/Twitter_Logo_White_On_Blue.png" />
        <span>Follow On Twitter</span>
      </a>
    </div>
  </div>
{%- endmacro %}
