{% import 'templates/macros.html' as macros %}
<!DOCTYPE html>
<html>
  <head>
    <title>Kitsune Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <link href="/css/map.css?v={{ version_identifier }}" rel="stylesheet">
    <link href="/css/bootstrap.min.css?v=1.0" rel="stylesheet">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/icons/apple-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icons/apple-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icons/apple-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icons/apple-icon-144x144-precomposed.png" />

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />

  </head>
  <body>
    <img id='logoImg' src='/images/logo.png' />
    <div id="map"></div>
    {% if show_modal_onload %}
      <div id="modal">
    {% else %}
      <div id="modal" style="display:none">
    {% endif %}
      <div id="modal_content">
        {% if show_pin_activated_message %}
          <div id="pinActivatedMessage">
            <h1>{{ _("Pin Activated") }}!</h1>
            <img id="yui_high_five" src="/images/yui_high_five.gif" />
            <br />
            <button type="button" class="btn btn-success btn-block" onclick="closeModal(); return false;">{{ _("Close") }}</button>
          </div>
        {% elif show_pin_edit_form %}
          {% include 'templates/pin/edit_pin_form.html' %}
        {% endif %}
      </div>
    </div>
    <div id="newPinMessage" class="hidden">
      <div id="newPinMessageContainer">
        <br />
        <p>
          {{ _("Is the marker in the correct place?") }}<br />
          {{ _("You can drag the pin to make corrections.") }}<br /><br />
          {{ _("For your safety we suggest placing your pin on something other than your actual address.") }}
        </p>
        <p>
          <button class="btn btn-primary btn-block" onclick="openModalForm()">{{ _("Continue") }}</button>
        </p>
      </div>
    </div>
    <div id="newJourneyPinMessage" class="hidden">
      <div id="newPinMessageContainer">
        <br />
        <p>
          {{ _("Is the marker in the correct place?") }}<br />
          {{ _("You can drag the pin to make corrections.") }}<br /><br />
          {{ _("For your safety we suggest placing your pin on something other than your actual address.") }}
        </p>
        <p>
          <button class="btn btn-primary btn-block" onclick="openJourneyModalForm()">{{ _("Continue") }}</button>
        </p>
      </div>
    </div>

    <div id="aboutContent" class="hidden">
      <img id='logoImg' src='/images/logo.png' />
      <p /><br />
      <p id="aboutMessage">
        {{ _("Welcome to Kitsune Network!") }}
        {{ _("The aim of this project is to unite all BABYMETAL fans and to get an idea of fans in your area.") }}
        <a target="_blank" href="https://www.youtube.com/watch?v=WIKqgE4BwAY">
          {{ _("If you do not know who BABYMETAL are then watch this video.") }}
        </a>
        {{ _("If you are a kitsune (fan of the band) please feel free to add your location on the map!") }}
        {{ _("Please join us on Discord if you have any feature suggestions for the site.") }}
        {{ _("We are always open to new suggestions.") }}
        {{ _("This website is open source too!") }}
        {{ _("If you'd like to contribute, please join us on Discord.") }}
        <span>{{ _("Not affiliated with BABYMETAL") }}</span>
      </p>
      <select id="languageSelector">
        {% for language_code in languages_display_sort %}
          {% if cookie_language is defined and cookie_language == language_code %}
            <option value="{{ language_code }}" selected >{{ languages_dict[language_code] }}</option>
          {% else %}
            <option value="{{ language_code }}">{{ languages_dict[language_code] }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <a target="_blank" href="https://discord.gg/QywBrcf">{{ _("Help translate Kitsune Network") }}</a>
      <p /><br />
      <div id="editPinForm">
          <span>
            {{ _("To edit or delete your pin, enter your email below.") }}
          </span>
          <br />
          <div class="row gutter-16">
            <div class="col-sm-4">
              <input type="email" class="form-control about-button" id="inputEditEmail" placeholder="{{ _("Email") }}">
            </div>
            <div class="col-sm-4">
              <button type="submit" class="disabled btn btn-primary btn-block about-button" id="editEmailButton">{{ _("Edit Pin") }}</button>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-info btn-block about-button" onclick="switchMaps(); return false;">{{ _("Switch Maps") }}</button>
            </div>
          </div>
      </div>
      {{ macros.discordbutton() }}
      <button type="button" class="btn btn-primary btn-block" onclick="closeModal(); return false;">{{ _("Close") }}</button>
    </div>

    <div id="switchMapsContent" class="hidden">
      <img id='logoImg' src='/images/logo.png' />
      <p /><br />
      <p id="switchMapsMessage">
        {{ _("Looks like you may be having problems loading the map.") }}
        <br />
        {{ _("Would you like to try switching map services?") }}
      </p>
      <p /><br />
      <button type="button" class="btn btn-info btn-block" onclick="switchMaps(); return false;">{{ _("Switch Maps") }}</button>
      <button type="button" class="btn btn-primary btn-block" onclick="closeModal(); return false;">{{ _("Close") }}</button>
    </div>
    <img id="loadingImage" src="/images/spinner.png" />
    <div class="hidden">
      {% if force_refresh_pins %}
        <label id="shouldForceRefreshPins">True</label>
      {% endif %}
    </div>
    <div id="footer">
      <div id="bottomControl">
        {% if journey_index == '0' %}
          <div id="controlAddJourneyPinButton" class="controlButton">{{ _("Update the Journey Location") }}</div>
        {% endif %}
        <div id="controlAddPinButton" class="controlButton">{{ _("Add Pin") }}</div>
        <div id="controlMoreButton" class="controlButton">{{ _("More") }}</div>
        <div id="controlKitsunesButton" class="controlButton"><span id="controlKitsunesButtonCount"></span>{{ _("Kitsunes") }}</div>
      </div>
    </div>
    <div id="sideMenu">
      <div id="toggleButton" onclick="toggleSideMenu()"></div>
      <div id="sideMenuContainer">
        <div id="menuList" class="list-group">
          <a id="kitsuneMarkersOption" href="#" class="list-group-item active" onclick="toggleKitsuneMarkers()">Kitsunes</a>
          <a id="wonderfulJourneyOption" href="#" class="list-group-item active" onclick="toggleWonderfulJourney()">Wonderful Journey</a>
        </div>
        <div class="hidden">
          <a id="wonderfulJourneyLocationTemplate" href="#" class="list-group-item">
            <h4 class="list-group-item-heading"></h4>
            <p class="list-group-item-text"></p>
          </a>
        </div>
      </div>
    </div>
    <div id="journeyPinIndex" class="hidden">{{ journey_index }}</div>
    <div id="versionIdentifier" class="hidden">{{ version_identifier }}</div>

    {% if map_type == "gmaps" %}
      <script src="/js/gmaps.js?v={{ version_identifier }}"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkCmG2AHA0sr41yzJFrsXr6cl_ovUusBs"></script>
    {% else %}
      <script src="/js/mapbox.js?v={{ version_identifier }}"></script>
      <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
      <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
      <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
    {% endif %}

    <script src="/js/common.js?v={{ version_identifier }}"></script>
    <script src="/js/ui.js?v={{ version_identifier }}"></script>
    <script src="/js/map.js?v={{ version_identifier }}"></script>
    <script src="/js/journey.js?v={{ version_identifier }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98188024-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
