<h1>{{ _("Pin Deleted") }}</h1>
<div style="text-align:center">
  <p /><br />
  {{ _("Your pin has been deleted.") }}
  <p /><br />
</div>
<button type="button" class="btn btn-success btn-block" onclick="closeModal(); return false;">{{ _("Close") }}</button>
